<!DOCTYPE html>
<html>
  <head>
    <title>Lake Tahoe</title>

    <link rel="stylesheet" href="stylesheets/style.css">

    <script>
    function showAndroidToast(toast)
    {
    var text = '{"service":"John","characterstics":"Doe", "descripter":"ddjd"}';
    //alert(text)
    Android.showToast(toast);
    }
    </script>

  </head>
  <body onload="showAndroidToast('Hello Android!')">
    <header>
      <span>A browser for connecting world</span>
      <h1>Browsy</h1>
    </header>

    <input type="button" value="RED" onClick="showAndroidToast('Hello Android!')"/>
    <br><br>

    <input type="button" value="GREEN" onClick="showAndroidToast('Hello Android!')"/>
    <br><br>

    <input type="button" value="BLUE" onClick="showAndroidToast('Hello Android!')"/>

  </body>
</html>
