<!DOCTYPE html>
<html>
  <head>
    <title>Lake Tahoe</title>

    <link rel="stylesheet" href="stylesheets/style.css">

    <script type="text/javascript">
        function showAndroidToast(toast) {
            alert(toast);
        }
    </script>

  </head>
  <body>
    <header>
      <span>A browser for connecting world</span>
      <h1>Browsy</h1>
    </header>

    <input type="button" value="MAD" onClick="showAndroidToast('Hello Android!')"/>
    <br><br>

    <input type="button" value="GREEN" onClick="showAndroidToast('Hello Android!')"/>
    <br><br>

    <input type="button" value="BLUE" onClick="showAndroidToast('Hello Android!')"/>

  </body>
</html>
